p , h1 ,h2 , h3, h4, h5, h6{
    cursor:default;
}
a{
    text-decoration: none;
    color:#fff;
    font-family: 'Libre Baskerville', serif;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition: all 0.5s;
}
body{
    background-color: #080808;
    color:#fff;
}
.logo{
    height: 60px;
    mix-blend-mode:lighten;
}
#header{
    /* background-image: url("/assets/bg-landscape.jpeg"); */
    background-size: cover;
    background-image:linear-gradient(#111111,#313131);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position:relative;
}
.scrollbutton{
    position: absolute;
    bottom:20;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    border-radius: 2px;
}
.scrollbutton:hover{
    border-left: 4px solid rgb(80, 80, 80);
    border-bottom: 4px solid rgb(80, 80, 80);
}
.container{
    padding:10px 8%;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff0416;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
    opacity: 50%;
}
nav ul li a:hover::after{
    width: 100%;
    opacity: 100%;
}
.header-body{
    display: flex;
    align-items: center;
    height: 70vh;
    flex-direction: row-reverse;
    justify-content:center;
}
.header-body div{
    display: inline-block;
}
.header-text , .header-text h1{
    font-size: 30px;
    flex:2;
    font-family: 'Libre Baskerville', serif;
}
.header-text h1 span{
    font-family: 'Libre Baskerville', serif;
    color: red;
}
.header-text p , .header-text p span{
    font-family: 'Handjet', cursive;
    font-size: 25px;
}
.header-image{
    height: 70%;
    border-radius: 50%;
    box-shadow: 0 0 30px #777;
}
.header-image img{
    margin:auto; height: 100%; width:100%; object-fit: cover;
    
}
/* About section from here */
#about{
    height:auto;
    min-height:100vh;
    width:100%;
    background-color:#181818;
    background-image:linear-gradient(#313131,#111111);
    background-size: cover;
    background-repeat: no-repeat;
    /* border-top:3px solid #0f0f0f; */
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
}
#about h1{
    font-family: 'Libre Baskerville', serif;
}
#about h1 span{
    font-family: 'Libre Baskerville', serif;
    color: #ff0416;
}
.about-container{
    /* border:2px solid white; */
    height:50%;
    width:90vw; 
    display:flex;
    flex-wrap: wrap;
    overflow:hidden;
    justify-content:center; 
    align-items:flex-start;
    margin:20px 0 20px 0;
    backdrop-filter: blur(3px) saturate(196%);
    -webkit-backdrop-filter: blur(3px) saturate(196%);
    background-color: rgba(62, 69, 71, 0.75);
    border-radius: 5px;
    border: 1px solid rgba(209, 213, 219, 0.18);
}
.about-image-container{
    flex:5%;
    /* border:1px solid blue; */
    aspect-ratio: 1/1;
    margin:8px 0 0 8px;
}
.about-image-container img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 10px;
}
.about-text{
    flex:50%; 
    /* border:2px solid green;  */
    padding:20px; 
    text-align: justify;
    display:flex;
    flex-direction: column;
}
.about-text p{
    min-width:50px; font-size: 1rem;
}
.skills-and-ed{
    width:100%;
    padding:8px 4px 4px 4px;
    color:#fcfcfc;
}
.skills-and-ed h3{
    color:#d65963; 
    margin:8px 0 5px 0;
}
.skills-and-ed ul{
    border-left:2px solid white;
    list-style: none; 
    padding-left:5px;
    position:relative;
}
.skills-and-ed ul li{
    margin:10px 0 0 5px;
}
.skills-and-ed ul li h5{
    font-size:medium; 
    font-weight: 600;
}
.skills-and-ed ul li p:nth-child(3){
    margin-top:6px;
}
.skills-and-ed ul li p:nth-child(4){
    font-size:smaller;
}
.fa-circle-dot {
    position: absolute; font-weight:100; left:-8.5px;
}
/* miniscreens */


nav .fa-solid{
    display:none;
    cursor: pointer;
}
@media only screen and (max-width:780px){
        .about-container{
        flex-direction: column;
        align-items: center;
        }
        .about-image-container{
            width:50%;
        }
    .header-body{
        flex-direction:row;
        flex-wrap: wrap;
        row-gap: -40px;
        align-items:flex-start;
        padding-top:20px;
        
    }
    .header-text{
        flex-grow:1;
        flex-basis: 100%;
        text-align:center;
        padding-top:0px;
        align-self: baseline;
    }
    .header-text h1{
        font-size: 20px;
    }
    .header-text p , .header-text p span{
        font-size: 18px;
    }
    nav .fa-solid{
        display: block;
    }
    nav ul{
        background-color: #111111;
        position: fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top:50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin:25px;
    }
    nav ul .fa-solid{
        position:absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }
/* miniscreen about section */
    
}
@media only screen and (max-width:1130px){
    .header-image{
        height: 60%;
    }
}
@media only screen and (max-width:450px){
    .header-image{
        height: 50%;
    }
    .about-container{
        flex-direction: column;
        align-items: center;
        }
        .about-image-container{
            aspect-ratio: 1/1;
        }
        .about-text p{
            font-size: 15px;
        }
    


}
/* @media only screen and (max-width:375px){
    .header-image{
        height: 40%;
    }

} */
/* experimental */
